/* Hind Siliguri */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Playwrite England */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* root */
:root {
  --primary-color: #2976a3;
  --hover-color: #358bad;
  --text-color: #080808;
  --links-color: #2daf2d;
  --icon-border-color: #900C3F;
  --daily-quote-color: #080808;
  --daily-quote-back-color: #a19c95;
  --dark-mode-toggle-color: #003750;
  --title-color: linear-gradient(to right, #66cdaa,	#20b2aa);
  transition: all 300ms ease-out;
}

/* dark mode */
.dark-mode {
  --primary-color: #11121a;
  --hover-color: #272832;
  --text-color: #31658f;
  --links-color: #207720;
  --icon-border-color: #435c81;
  --daily-quote-color: #7d9dac;
  --daily-quote-back-color: #435c81;
  --dark-mode-toggle-color: #3c3d44;
  --title-color: linear-gradient(to right, #008b8b,	#00688b);
  transition: all 0.5s ease-in;
}

/* Pre-working */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Playwrite England", sans-serif;
  color: var(--text-color);
}
main {
  padding: min(5em, 7%);
}
body {
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Hind Siliguri", sans-serif;
  transition: background-color 300ms ease-out;
}

/* Top Container */
.top-container {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  height: 20%;
  font-weight: 800;
  font-size: 2.5rem;
  border-bottom: 1px solid var(--hover-color);
  text-align: center;
}

/* Top Logo */
.logo {
  width: 64px;
  border: 4px solid var(--icon-border-color);
  border-radius: 50%;
}
/* Top Title */
.title {
  font-family: "Rubik", serif;
  background: var(--title-color);
  background-clip: text;
  color: transparent;
  font-size: 44px;
  margin-top: 14px;
  margin-left: auto;
}

/* Toggle Button */
.toggle-mode-icon {
  background-color: var(--dark-mode-toggle-color);
  border: 2px solid rgb(180, 180, 180);
  border-radius: 1.5rem;
  height: 28px;
  width: 48px;
  margin-left: auto;
  margin-top: 25px;
  margin-right: 12px;
}
.toggle-mode-icon-inner {
  position: relative;
  left: 0%;
  background: var(--primary-color);
  height: 23px;
  width: 23px;
  border-radius: 1rem;
  transition: left 300ms ease-out;
}
.toggle-go-right {
  left: 45%;
  transition: left 300ms ease-out;
}
.toggle-mode-icon:hover {
  cursor: pointer;
}

/* Navigation */
nav {
  background-color: var(--primary-color);
  border-top: none;
  border-bottom: 1px solid var(--hover-color);
  transition: all 300ms ease-out;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li{
  display: flex;
  font-weight: 400;
}
nav .home {
  margin-right: auto;
}
nav a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  padding: 0.6em 1.5em;
  transition: background-color 150ms ease;
}
nav a:hover {
  background-color: var(--hover-color);
}
.nav-bar {
  transition: all 300ms ease-out;
}

/* Sidebar */
#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  height: 3.2em;
  padding: 0.4em;
  margin-left: auto;
  cursor: pointer;
}
#open-sidebar-button img {height: 2.4em;}
#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
}
#close-sidebar-button img {height: 2.2em;}

/* Sidebar button hover */
#open-sidebar-button:hover, #close-sidebar-button:hover {
  background-color: var(--hover-color);
}

/* Overlay */
#overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/* mobile support */
@media screen and (max-width: 500px) {
  #open-sidebar-button, #close-sidebar-button {
    display: block;
  }

  nav{
    position: fixed;
    top: 0;
    right: -100vh;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-out;
  }
  nav.show {
    right: 0;
    transition: right 300ms ease-out;
  }
  nav.show ~ #overlay {
    display: block;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav a {
    width: 100%;
    padding-left: 2em;
  }
  nav .home {
    margin-right: unset;
  }
  .logo { width: 54px;}
  .title {
    margin-top: 14px;
    font-size: 32px;
  }
  .toggle-mode-icon {
    margin-top: 20px;
    margin-right: 12px;
    height: 24px;
    width: 40px;
  }
  .toggle-mode-icon-inner {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 386px) {
    #open-sidebar-button{
        height: 2.7em;
    }
    #open-sidebar-button img {
        height: 2em;
    }
    #close-sidebar-button{
        height: 2.8em;
    }
    #close-sidebar-button img {
        height: 1.8em;
    }
    .logo { width: 52px;}
    .title {
        margin-top: 18px;
        font-size: 24px;
    }
    .toggle-mode-icon {
        margin-top: 23px;
        margin-right: 8px;
        height: 18px;
        width: 34px;
    }
    .toggle-mode-icon-inner {
      height: 14px;
      width: 14px;
    }
  }