.poem-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.poem {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

.audio-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#audio {
  width: 98%;
}

#volume {
  -webkit-appearance: none;
  width: 95%;
  height: 7px;
  outline: none;
  background: #dcdde6;
  border-radius: 3px;
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  background: #7a81cc;
}

.footer {
  font-style: italic;
  font-size: larger;
  text-decoration: underline;
  font-family: "Playwrite GB S", cursive;
}